## Python practical: Data analysis and visualisation

In this practical, you will practice using pandas, numpy, matplotlib and seaborn for data analysis and visualisation.

Please read the notebook and complete the code for each question.

In [ ]:
# Import libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

## Q1: Analysis and visualise academic salaries

This an academic salary dataset. It comes from http://vincentarelbundock.github.io/Rdatasets

### Q1.1: A quick check

In [ ]:
# Load dataset
df = pd.read_csv('Salaries.csv', index_col=0)

In [ ]:
# Display the shape of the data

In [ ]:
# Display the first 10 rows of the data

In [ ]:
# Display the last 10 rows of the data

In [ ]:
# Display the data type for each column

In [ ]:
# Display the summary statistics for all numeric columns

In [ ]:
# Display the summary statistics just for the salary column

## Q1.2 Grouping of data

We will first show you how to display the salary statistics for the male and female groups. Then we will ask you to complete the code for analysing other data groups.

In [ ]:
# Display the salary statistics for male and female groups
df_sex = df.groupby('sex')
df_sex['salary'].describe()

In [ ]:
# Display the salary statistics for different academic ranks

In [ ]:
# Display the years since PhD for different academic ranks

In [ ]:
# Display the mean of all numeric columns for different academic ranks

In [ ]:
# Group by both sex and academic ranks and display the mean statistics

## Q1.3 Data selection

In [ ]:
# Select data with salary > 100K and display the first 5 rows

In [ ]:
# Select data for female assistant professors and display the first 5 rows

In [ ]:
# Display the mean salary for discipline A

In [ ]:
# Display the region from index 10 to index 20, at the sex column

In [ ]:
# Display the region from row 10 to row 20, at the 3rd and 4th columns

## Q1.4 Sorting

In [ ]:
# Sort the data by salries in descending order and display the head
df_sorted = df.sort_values(by='salary', ascending=False)
df_sorted.head()

In [ ]:
# Sort the data by yrs.service in ascending order and display the head

In [ ]:
# Sort the data by yrs.service in ascending order and salary in descending order, display the head

## Q1.5 Data visualisation

In [ ]:
# Display the histogram for salary using matplotlib
plt.hist(df['salary'])

In [ ]:
# Display the histogram for salary using seaborn
sns.distplot(df['salary'])

In [ ]:
# Bar plot of salary against academic ranks using seaborn

In [ ]:
# Bar plot os salary against academic ranks, using different hues for males and females

In [ ]:
# Box plot os salary against academic ranks, using different hues for males and females

In [ ]:
# Scatter plot of salary against yrs.since.phd, colouring by sex and styling by rank

In [ ]:
# Violin plot of salary against sex

In [ ]:
# Pair plot to show joint relationships and histograms

## Q1.6 Student T-test

In [ ]:
# Perform t-test between female salaries and male salaries

## Q1.7 A larger and more complex dataset

This is the Kaggle San Francisco city employee salary dataset.

https://www.kaggle.com/kaggle/sf-salaries

In [ ]:
# Load the dataset
df = pd.read_csv('Salaries_SF.csv')

In [ ]:
# Display the shape of the data

In [ ]:
# Display the first 10 rows of the data

In [ ]:
# Display the statistics of the TotalPayBenefits for FIREFIGHTER

In [ ]:
# Violin plot of TotalPayBenefits against Year

In [ ]:
# Scatter plot of OtherPay against 'BasePay', only for subjects with positive OtherPay and with numeric data